body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #1c1d1f;
  --purple: #5624d0;
  --nav-default-color: #6a6f73;
}

.best-seller {
  background-color: #eceb98;
  color: #3d3c0a;
  width: 25%;
  padding: 6px 8px;
  font-weight: 800;
  font-size: 12px;
}
